.footer_-contactme{
    background-color: white;
}
.footer__contactme h2{
    display: flex;
    justify-content: center;
    color: var(--Azul);
    font-family: var(--Títulos);
    font-weight: 900;
    padding: 60px 15px 15px;
    font-size: 29px;
}
.main__section--star2{

}
.footer__section--location{
    background-color: var(--Azul);
    padding: 10px;
    text-align: center;
    
}
.footer__section--location p{
    color: white;
    font-size: 15px;
    font-family: var(--Párrafos);

}
.footer__section--location p a{
    color: var(--Verde);

}
.footer__section--location h3{
    display: flex;
    color: white;
    font-family: var(--Títulos);
    font-weight: 900;
    justify-content: center;
    gap: 30px;
    padding: 35px 35px;
}
.footer__section__nav--network{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;

}
.footer__section__nav--network a{
    display: inline-block;
    color: white;
    border-radius: 50%;
    border: 1px solid white;
    padding: 15px;
    width: 60px;
    font-size: 1.2rem
}
.footer__section__copi{
    background-color: #1a2838;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 14px;
    font-family: var(--Párrafos);
    font-weight: 900;
    padding: 28px 15px 28px;
}
