.header{
    background-color: var(--Azul);
    padding: 15px 0px 10px 10px;
}
.header__menu{
    background-color:var(--Verde);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 5px;
    
}
.header h3{
    text-transform: uppercase;
    font-family: var(--Titulos);
    color: white;
    font-weight: 900;
}

.header__nav{
    display: none;
}