.main{
    width: 100%;
}
.main__section--banner{
    background-color: var(--Verde);
    padding: 30px 10px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__section--star1{
    align-items: center;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 24px;
    gap: 10px;
    padding: 0px 0px 15px;
  
}
.main__section--star2{
    justify-content: center;
    align-items: center;
    color: var(--Azul);
    display: flex;
    color: var(--Azul);
    font-size: 24px;
    gap: 10px; 
    padding: 0px 0px 15px;
}
.main__section--star1 hr{
    width: 75px;
    height: 3px;
    background-color: white;
    border: none;
}
.main__section--star2 hr{
    width: 80px;
    height: 3px;
    background-color: var(--Azul);
    border: none;
}
.main__section--banner h1{
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    font-family: var(--Títulos);
    text-align: center;
    font-weight: 900;
    line-height: 40px;
}
.main__section--banner p{
    color: white;
    font-size: 12px;
    font-family: var(--Párrafos);
    text-align: center;
}
.main__section__portfolio h2{
    display: flex;
    justify-content: center;
    color: var(--Azul);
    font-family: var(--Títulos);
    font-weight: 900;
    padding: 60px 15px 15px;
    font-size: 30px;
}
.main__section__portfolio--img{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
}
.main__section__portfolio--img figure{
    width: 100%;
    padding: 5px 10px;
}

.main__section__about{
    background-color: var(--Verde);
    color: white;
    padding: 50px 10px;

    
}
.main__section__about p{
    line-height: 24px;
    font-size: 18px;
    margin-bottom: 28px;
}
.main__section__about h2{
    display: flex;
    justify-content: center;
    color: white;
    font-family: var(--Títulos);
    font-weight: 900;
    padding: 15px;
}
.main__section__about a{
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    padding: 15px;
    display: flex;
    margin: 20px auto opx;
    align-items: center;
    justify-content: center;
    
}
@media (min-width:768px){
    .main__section__portfolio--img{
        flex-direction: row;
        justify-content: center;

    }
    .main__section__portfolio--img img{
       width: 48%;
    }
}

