<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d9eb1b8442.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheet/style.css">
    <title>freelance portfolio</title>
</head>
<body>
    <header class="header">
        <a href=""><h3> freelance portfolio </h3></a>
        <div>
            <button class="header__menu">
                menu <i class="fa-solid fa-bars"></i>
            </button>
        </div>
        <nav class="header__nav">
            <li>
                <a href="#portfolio">portfolio</a>
            </li>
            <li>
                <a href="#about">about</a>
            </li>
            <li>
                <a href="#contact">contact</a>
            </li>
        </nav>
    </header>
    <main class="main">
        <section class="main__section--banner">
            <figure>
                <img src="/images/profile.png" alt="">
            </figure>
            <h1>FREELANCE PORTFOLIO</h1>
        
            <div class="main__section--star1">
                <hr>
                <h4><i class="fa-solid fa-star"></i></h4> 
                <hr>
            </div>
            <p>Web Developer - Graphics Artist - User Experience Designer</p>
        </section>
        <section class="main__section__portfolio" id="portfolio">
            <h1>PORTFOLIO</h1>
            <div class="main__section--star2">
                <hr>
                <h4><i class="fa-solid fa-star"></i></h4> 
                <hr>
            </div>
            <article class="main__sextion__article--img">
                <img src="/images/cabin.png" alt="house">
                <img src="/images/cake.png" alt="cake">
                <img src="/images/circus.png" alt="circus">
                <img src="/images/game.png" alt="game">
                <img src="/images/safe.png" alt="safe">
                <img src="/images/submarine.png" alt="submarine">
            </article>
        </section>
        <section class="main__section--about" id="about">
            <h2>ABOUT</h2>
            <div class="main__section--star1">
                <hr>
                <h4><i class="fa-solid fa-star"></i></h4> 
                <hr>
            </div>
            <p>
                Freelancer is a free landing page theme created for free use. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for a easy costumization.
            </p>
            <p>
                Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to shere your projects, this template is the perfect starting point!
            </p>
            <button>
                <a href="">Download Now! <i class="fa-solid fa-download"></i></a>    
            </button>
        </section>
    <footer class="footer">
        <section class=" footer__contactme" id="contact">
            <H2>CONTAC ME</H2>
            <div class="main__section--star2">
                <hr>
                <h4><i class="fa-solid fa-star"></i></h4> 
                <hr>
            </div>
            <form action="resultado.html" method="POST">
                <p>
                    <label for="nombre">Name</label>
                    <input type="text" name="nombre" id="nombre">
                </p>
                <p>
                    <label for="nombre">Email Address</label>
                    <input type="text" name="nombre" id="nombre">
                </p>
                <p>
                    <label for="nombre">Phone Number</label>
                    <input type="text" name="nombre" id="nombre">
                </p>
                <p>
                    <label for="comentario">Message</label>
                    <textarea name="comentario" id="comentario" cols="30" rows="10"></textarea>
                </p>
            </form>
            <button>
                <h3>Send</h3>
            </button>
        </section>
        <section>
            <h3>LOCATION</h3>
                <p>
                    2215 john Daniel Drive Clark, MO 65243
                </p>
            <h3>AROUND THE WEB</h3>
            <nav>
                <ul>
                    <li>
                      <a href="https://facebook.com"><i class="fa-brands fa-facebook-f"></i></a>
                    </li>
                    <li>
                      <a href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                    <li>
                      <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="https://ar.linkedin.com/"><i class="fa-brands fa-linkedin-in"></i></i></a>
                    </li>
                    <li>
                      <a href="https://dribbble.com/"><i class="fa-brands fa-dribbble"></i></i></a>
                    </li>
                </ul>
            </nav>
            <h3>ABOUT FREELANCER</h3>
            <p>
                Freelance is a free and open source landing page theme created to <a href="">your free personal use</a>.
            </p>
        </section>
    </footer>
</body>
</html>










